fastapi==0.110.0uvicorn[standard]==0.29.0gunicorn==21.2.0numpy==1.26.4pandas==2.1.4sqlalchemy==2.0.29psycopg2-binary==2.9.9python-jose==3.3.0passlib[bcrypt]==1.7.4bcrypt==4.1.2python-dotenv==1.0.1alembic==1.13.1